.todos-actions-bar{
    overflow: hidden;
    width: 100%;
}

    .todo-actions-bar_counter{
        margin: 15px 8px 15px 8px;
        float: left;
        color: #888888;
    }

    .todo-filters{
        float: left;
        margin: 0px 59px 9px 116px;
        color: #888888;
    }

        .todo-filter{
            position: relative;
            margin: 11px 12px 0 0;
            background: none;
            border-radius: 15%;
            cursor: pointer;
            border: none;
            -webkit-animation: none;
            -webkit-appearance: none;
        }

        .todo-filter.__active{
            position: relative;
            margin: 11px 12px 0 0;
            background: none;
            border-radius: 15%;
            cursor: pointer;
            border: none;
            -webkit-animation: none;
            -webkit-appearance: none;
        }

        .todos-filter.__complited{
            position: relative;
            margin: 11px 0px 0 0;
            background: none;
            border-radius: 15%;
            cursor: pointer;
            border: none;
            -webkit-animation: none;
            -webkit-appearance: none;
        }
    .todo-actions-bar_clear-completed{
        float: left;
        position: absolute;
        width: 109px;
        height: 22.8px;
        padding: 0px;
        margin: 11px 11px 0 0;
        background: none;
        border-radius: 15%;
        cursor: pointer;
        border: none;
        -webkit-animation: none;
        -webkit-appearance: none;
    }