$c-white: #fff;
$c-gray: #666;
$c-gray-dark: #333;
$c-gray-light: #ddd;
$c-light: #999;
$c-orange: #eb722e;
$c-error: #ff5756;

$c-main-bg: #f5f5f5;
$c-todos-container-bg: $c-white;
$c-common-border: #e6e6e6;
$c-title: rgba(#af2f2f, .15);
$c-box-shadow: #000;
$c-todos-input: #ccc;
$c-border-bottom: #e6e6e6;
$c-border-top: $c-border-bottom;
$c-todos-item-hover: #fafafa;
$c-todos-item_ready-mark: #ffffff;
$c-todos-item_ready-mark-border: #d6d6d6;
$c-todos-item_ready-mark-input: $c-todos-input;
$c-todos-item_ready-mark-input_active :#5dc2af;
$c-ultra-light: #ccc;

$c-micro-elements: #ebdfdf;